{% extends 'base.html' %}
{% block contents %}
<div class="container row ms-5" style="margin-top:150px;">
{% for i in be %}
      <div class="card me-3 col-3 mb-3 wake-btn" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">{{i.property.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{i.property.owner}}</h6>
      <div class="my-3 me-3">
        {% if i.status == 'pending' %}
      <span class="badge" style="padding:10px 10px;background-color:#d9a109;font-size:13px;"><i class="fa-regular fa-clock me-1"></i>Pending</span>
        <h6 class="card-subtitle my-2 text-muted" style="font-size:13px">Your request has been sent to the agent.Kindly wait for the response</h6>
        {% elif i.status == 'accepted' %}
          {% if i.buyer_visited == False %}
          <span class="badge bg-secondary" style="padding:10px 15px;font-size:13px;">Accepted</span>
          <h6 class="card-subtitle my-2 text-muted">{{i.agent_response}}</h6>
          <h6 class="card-subtitle my-2 text-muted" style="font-size:13px">Visiting-Date: {{i.visiting_date}}</h6>
          {% else %}
            {% if i.is_advance_paid %}
            <span class="badge bg-success px-3 py-2">Advance Paid</span>
            <h6 class="mt-2 text-success">Your payment was successful<i class="fa-solid fa-circle-check"></i>.</h6>
            {% else %}
            <span class="badge bg-secondary" style="padding:10px 15px;font-size:13px;">Accepted</span>
            <h6 class="card-subtitle my-2 text-muted" style="font-size:13px">Agent have marked you have visited.what's your opinion,are you interested?</h6>
            <a href="{% url  'listing:advancepayment' i.id %}" class="btn text-light my-3" style="background-color:green;padding:4px 8px;font-size:14px;">Interested.pay advance.<i class="fa-regular fa-circle-check"></i></a><br>
            <a href="{% url 'listing:buyerrejected' i.id%}" class="btn btn-danger" style="padding:4px 8px;font-size:14px;">No,I'm not Interested<i class="fa-solid fa-circle-xmark"></i></a>
               {% if messages %}
<ul class="messages mt-5">
    {% for message in messages %}
    <li type="none" class="text-danger">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            {% endif %}

          {% endif %}

        {% endif %}
    </div>
  </div>
</div>
{% endfor %}
  </div>
{% endblock %}