{% extends 'base.html'%}
{% block contents %}
<div class="mx-auto border border-secondary w-25 mb-5 p-5" style="margin-top:150px;">
    {% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %}
    <div class="alert alert-success">
      {{message}}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
  <h1 class="text-center ">Enter OTP</h1>
  <form method="POST">
    {% csrf_token%}
    <div class="p-3">
      <input type="text" placeholder="Enter OTP Here" name="o" class="form-control mb-5">
      <input type="submit" class="btn btn-outline-light btn-success">
  {% if messages %}
  {% for message in messages %}
        {% if message.tags == "error" %}
    <li type="none" class="text-danger mt-3">
      {{ message }}
    </li>
        {% endif %}
  {% endfor %}
{% endif %}
    </div>
  </form>

</div>
{% endblock%}