{% extends 'base.html' %}
{% block contents %}
{% load static %}

<div class="hero page-inner overlay"
     style="background-image: url({% static 'images/hero_bg_3.jpg' %});">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        <h1 class="heading">{{property.title}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section py-5">
  <div class="container">
    <div class="row g-4">

      <!-- LEFT SIDE -->
      <div class="col-lg-8">
        <img src="{{property.image.url}}"
             class="img-fluid w-100 rounded"
             style="max-height:600px; object-fit:cover;">
      </div>

      <!-- RIGHT SIDE -->
      <div class="col-lg-4">

        <h2 class="text-primary">{{property.title}}</h2>
        <p class="meta">{{property.location}}</p>
        <h5 class="card-title"><i class="fa-solid fa-indian-rupee-sign"></i>{{property.price}}</h5>
        <p class="card-text"><b>{{property.property_type|title}}</b>&mdash;<span class="badge rounded-pill bg-success">{{property.requirement|title}}</span></p>
        <p class="text-muted">{{property.description}}</p>

        {% if user.is_authenticated and user.profile.role == 'buyer' %}
          {% if property.is_available == False %}
            <h6 class="btn bg-danger text-light">Sorry, This Property has been sold</h6>
          {% else %}
            <a href="{% url 'listing:enquiry' property.id %}"
             class="btn btn-dark w-100 mb-2">
             Send Enquiry
            </a>

              {% if in_wishlist %}
            <a href="{% url 'listing:removewishlist' property.id %}"
               class="btn btn-danger w-100 mb-3">
               Remove from Wishlist
            </a>
              {% else %}
            <a href="{% url 'listing:addwishlist' property.id %}"
               class="btn btn-outline-primary w-100 mb-3">
               Add to Wishlist
            </a>
              {% endif %}
          {% endif %}
        {% elif user.profile.role == 'agent' %}
<!--          <h6>only buyers can send enquiry</h6>-->
        {% else %}
          <span class="badge bg-danger p-3 w-100">
            Login for actions
          </span>
        {% endif %}

        <!-- Agent Card -->
        <div class="card mt-4 shadow-sm">
          <div class="card-body text-center">
            <img src="{{property.owner.profile.profile_picture.url}}"
                 class="img-fluid rounded-circle mb-3"
                 style="width:120px; height:120px; object-fit:cover;">
            <h5>{{property.owner.first_name}}</h5>
            <p class="text-muted mb-0">
              {{property.owner.profile.role}}
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}